.App {
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-color: #fafafa;
  padding-top: 4rem;
  min-height: 100vh;
}

.navbar {
  background-color: #fd7e14 !important;
}

.choose {
  background-color: #f8d138 !important;
}

.details {
  background-color: #dc3545 !important;
  color: #fafafa;
}

body {
  background-color: transparent !important;
}
